@font-face {
    font-family:cairo_mid;
    src: url("fonts/Cairo-Medium.ttf");
}
@font-face {
    font-family: kufi;
    src: url("fonts/ReemKufi-Bold.ttf");
}
*{
    font-family: cairo_mid;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden !important;
}
.contain{
    width: 100%;
    height: 625px;
    background-image: url("img/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .opacity{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height:100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.6);
    }
.navbar{
    z-index: 2;
 width: 83%;
 margin: auto;
 display: flex;
 flex-direction: row-reverse;
 .brand{
    font-size: 25px;
    text-decoration: none;
    font-family:kufi;
    color: whitesmoke;
 }
 .three-lines{
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   span{
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: whitesmoke;
   }
 }
 .navbar-nav{
  .navbar-items{
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
    .navbar-item{
        padding: 5px;
        a{
            text-decoration: none;
            color: whitesmoke;
            transition: 0.5s all ease-in-out;
             &:hover{
              color:rgba(230,230,230,.6);
            }
        }
    }
    }
 }
}
}
#toTop{
    background-color:#40b7b7;
    color: white;
    padding: 2px 0px 2px 0px;
    text-align: center;
    display: block;
    border-radius: 2px;
    width: 30px;
    position: fixed;
    bottom: 5px;
    right: -50px;
    cursor: pointer;
    transition: right 0.5s ease-in-out;
    transform: rotate(180deg);
    font-size: 20px;
    z-index: 10;
}
.whyUsheader{
    margin-top: 30px;
    text-align: right;
    margin-right: 10px;
    position: relative;
    p{
        line-height: 9px;
    }
    &::after{
        content: '';
        position: absolute;
        top: 7px;
        right: -10px;
        width: 5px;
        height: 100%;
        background-color: #40b7b7;
    }
    &::before{
        content: '';
        position: absolute;
        top: 7px;
        right: -18px;
        width: 5px;
        height: 55%;
        background-color: #40b7b7;
    }
}

.whyUS{
    margin: auto;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 2px 2px 4px #40b7b7;
    i{
        padding-top: 10px;
        font-size: 30px;
        color: #40b7b7;
    }

}

.whoAreWe{
    background-color: rgb(236, 236, 236);
    padding-bottom: 50px;
    .whoAreWePart{
        background-color: white;
        margin: auto;
        width: 95%;
        margin-top: 20px;
        margin-bottom: 10px;
        direction: rtl;
        border: 1px solid rgb(226, 226, 226);
        box-shadow: 2px 2px 4px #40b7b7;
        padding: 0px 10px;
        i{ 
            padding: 10px 0px 5px 0px;
            font-size: 25px;
            color: #40b7b7;
        }
    
    }
    .whoAreWeheader{
        margin-top: 30px;
        text-align: right;
        margin-right: 10px;
        position: relative;
        p{
            line-height: 9px;
        }
        &::after{
            content: '';
            position: absolute;
            top: 7px;
            right: -10px;
            width: 5px;
            height: 100%;
            background-color: #40b7b7;
        }
        &::before{
            content: '';
            position: absolute;
            top: 7px;
            right: -18px;
            width: 5px;
            height: 55%;
            background-color: #40b7b7;
        }
    }
}
.getwriter{
    height: 250px;
    width: 100%;
    background-image: url("img/work.jpg");
    background-size: cover;
    position: relative;
    .opacity{
        left: 0px;
        top: 0px;
        z-index: 1;
        width: 100%;
        position: absolute;
        height: 250px;
        background-color: rgba(0,0,0,0.8);
    }
.getWriters{
        width: 100%;
        color: white;
        z-index: 2;
        text-align: center;
        padding-top: 50px;
        button{
            margin-top: 5px;
            border: none;
            a{
                width: 100%;
                height: 100%;
                background-color: #40b7b7;
                color: whitesmoke;
                text-decoration: none;
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}
.howWeWork{
    .howWeWorkPart{
        background-color: white;
        margin: auto;
        width: 95%;
        margin-top: 20px;
        margin-bottom: 10px;
        direction: rtl;
        border: 1px solid rgb(226, 226, 226);
        box-shadow: 2px 2px 4px #40b7b7;
        padding: 0px 10px;
        .number{
            color: #40b7b7;
            font-size: 30px;
            margin-bottom: 0px;
            font-weight: bold;
        }
    
    }
    .howWeWorkheader{
        margin-top: 30px;
        text-align: right;
        margin-right: 10px;
        position: relative;
        p{
            margin-bottom: 0px;
        }
        &::after{
            content: '';
            position: absolute;
            top: 7px;
            right: -10px;
            width: 5px;
            height: 100%;
            background-color: #40b7b7;
        }
        &::before{
            content: '';
            position: absolute;
            top: 7px;
            right: -18px;
            width: 5px;
            height: 55%;
            background-color: #40b7b7;
        }
    }
}

.services{
    margin-top: 30px;
    .servicesheader{
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: right;
            margin-right: 10px;
            position: relative;
            p{
                margin-bottom: 0px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 7px;
                right: -10px;
                width: 5px;
                height: 100%;
                background-color: #40b7b7;
            }
            &::before{
                content: '';
                position: absolute;
                top: 7px;
                right: -18px;
                width: 5px;
                height: 55%;
                background-color: #40b7b7;
            }
    }
    .service{
        border: 1px solid #d1d1d1;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        .img-sec{
            width: 100%;
           img{
             width: 100%;
             height: auto;
        }
     }
    p{
        padding: 5px 0px;
        margin-bottom: 0px;
    }
    .opacity{
     transition: 0.2s visibility ease-in-out;
     position: absolute;
     top: 0px;
     left: 0px;
     background-color: rgba(0,0,0,0.8);
     width: 100%;
     height: 100%;
     z-index: 1;
     visibility: hidden;
     .fa-search{
        padding-top: 37%;
        color: white;
        font-size: 25px;
     }
    }
}
}
.questions{
    .questionHeader{
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: right;
            margin-right: 10px;
            position: relative;
            p{
                margin-bottom: 0px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 7px;
                right: -10px;
                width: 5px;
                height: 100%;
                background-color: #40b7b7;
            }
            &::before{
                content: '';
                position: absolute;
                top: 7px;
                right: -18px;
                width: 5px;
                height: 55%;
                background-color: #40b7b7;
            }
    }
    img{
        margin-bottom: 10px;
        height: 255px;
    }
    .question{
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-bottom: 1px solid #d4d4d4;
        border-top: 1px solid #d4d4d4;
        .fa-plus{
            cursor: pointer;
            transition: 1s all ease-in-out;
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
    .caption{
        width: 0%;
        display: none;
        text-align: right;
        height: 50px;
        margin-bottom: 5px;
        transition: 0.5s all ease-in-out;
    }
}
.contact{
    direction: rtl;
    background-color: #e7e7e7;
.contactHeader{
    margin-top: 30px;
            margin-bottom: 30px;
            text-align: right;
            margin-right: 10px;
            position: relative;
            p{
                margin-bottom: 0px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 7px;
                right: -10px;
                width: 5px;
                height: 100%;
                background-color: #40b7b7;
            }
            &::before{
                content: '';
                position: absolute;
                top: 7px;
                right: -18px;
                width: 5px;
                height: 55%;
                background-color: #40b7b7;
            }
}
.left-part{
    width: 100%;
    height:max-content;
    background-color: white;
    border-radius: 5px;
    border-top:3px solid #40b7b7;
    margin-bottom: 10px;
.brand{
    font-size: 25px;
    text-decoration: none;
    font-family:kufi;
    color: rgba(0,0,0,0.8);
    margin-right: 10px;
 }
 p{
    padding-right: 10px;
 }
 .left-part-sec{
    margin-left: 10px;
    padding-bottom: 10px;
    i{
        padding-left: 10px;
        padding-right: 10px;
        color: #40b7b7;
        font-size: 20px;
    }
    span{
        direction: ltr;
        padding-bottom: 4px;
    }
 }
 .social_media{
    padding-bottom: 5px;
    a{
        width: 30px;
        margin-right: 20px;
    }
    i{
        font-size: 25px;
        color: #40b7b7;
    }
 }
}
.right-part{
    background-color: white;
    border-radius: 5px;
    border-top:3px solid #40b7b7;
    height: auto;
    margin-bottom: 10px;
    form{
        padding-bottom: 4px;
    input{
        outline: none;
        margin: auto;
        display: block;
        border: none;
        width: 90%;
        border-bottom: 1px solid #dddddd;
        height: 30px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    textarea{
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 10px;
        border: none;
        direction: ltr;
        width: 90%;
        outline: none;
    }
    input[value="send"]{
        margin: 0px;
        background-color: #40b7b7;
        border-radius: 5px;
        margin-right: 25px;
        color: white;
    }
}
}
}
.footer{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    text-align: center;
    color: white;
    height: 60px;
    p{
        margin-bottom: 0px;
        padding-top: 20px;
    }
}
/*media section*/
@media(max-width:992px){
    .whyUsheader{
        p{
            line-height: 16px;
            height: 35px;
            display: inline;
        }
    }
}
@media(max-width:992px){
    .whoAreWeheader{
        p{
            line-height: 16px;
            height: 35px;
            display: inline;
        }
    }
}
@media (max-width:768px){
.contain{
    height: 400px;
    .navbar{
        .three-lines{
            display: flex;
        }
        .navbar-nav{
            .navbar-items{
                width: 50%;
                background-color: rgba(0,0,0,0.6);
                position: absolute;
                z-index: 444;
                right:-437px;
                transition: 0.5s right ease-in-out;
                top: 55px;
                flex-direction: column;
                text-align:end;
                .navbar-item{
                    width: 98%;
                    margin-right: 2%;
                   a{
                    transition: 0.5s all ease-in-out;
                    &:hover{
                        color:rgba(230,230,230,.6);
                    }
                   }
                }
            }
        }
    }
}
.whyUsheader{
    p{
        line-height: 16px;
        margin-bottom: 5px;
    }
}
.whoAreWeheader{
    p{
        line-height: 16px;
        margin-bottom: 5px;
    }
}
}
@media (max-width: 576px){
.container, .container-sm {
     max-width: 600px; 
}
}
@media (max-width:690px)and (min-width:500px){
    .contain{
        .navbar{
            width:93% ;
            .three-lines{
                display: flex;
            }
            .navbar-nav{
                .navbar-items{
                    width: 90%;
                    background-color: rgba(0,0,0,.6);
                    position: absolute;
                    z-index: 444;
                    right:-437px;
                    transition: 0.5s right ease-in-out;
                    top: 55px;
                    flex-direction: column;
                    text-align:end;
                    margin-right: 2%;
                    .navbar-item{
                        width: 98%;
                        margin-right: 2%;
                       a{
                        transition: 0.5s all ease-in-out;
                        &:hover{
                            color:rgba(230,230,230,.6);
                        }
                       }
                    }
                }
            }
        }
    }
    }
